[submodule "countries-app-sgujuluva"]
	path = countries-app-sgujuluva
	url = git@github.com:FbW-WD21-E11/countries-app-sgujuluva.git
[submodule "spa-usereducer-sgujuluva"]
	path = spa-usereducer-sgujuluva
	url = git@github.com:FbW-WD21-E11/spa-usereducer-sgujuluva.git
[submodule "spa-store-language-setting-sgujuluva"]
	path = spa-store-language-setting-sgujuluva
	url = git@github.com:FbW-WD21-E11/spa-store-language-setting-sgujuluva.git
[submodule "spa-router-dog-finder-sgujuluva"]
	path = spa-router-dog-finder-sgujuluva
	url = git@github.com:FbW-WD21-E11/spa-router-dog-finder-sgujuluva.git
[submodule "spa-todolist-sgujuluva"]
	path = spa-todolist-sgujuluva
	url = git@github.com:FbW-WD21-E11/spa-todolist-sgujuluva.git
[submodule "spa-user-login-sgujuluva"]
	path = spa-user-login-sgujuluva
	url = git@github.com:FbW-WD21-E11/spa-user-login-sgujuluva.git
[submodule "spa-router-band-landing-page-sgujuluva"]
	path = spa-router-band-landing-page-sgujuluva
	url = git@github.com:FbW-WD21-E11/spa-router-band-landing-page-sgujuluva.git
